WATCHTOWER_SCHEDULE="0 3 * * *"

# Caddy Server
CADDY_DOMAIN="CHANGE_ME"
CADDY_HEALTH_CHECK_URI="https://edge.${CADDY_DOMAIN}/caddy-health-check"

# Upstream Servers
FRIGATE_UPSTREAM_HOST="nvr.${CADDY_DOMAIN}"
HOME_ASSISTANT_UPSTREAM_HOST="ha.internal.${CADDY_DOMAIN}"
UNIFI_UPSTREAM_HOST="192.168.1.1"
PLEX_UPSTREAM_HOST="CHANGE_ME"

# CF DNS
CF_AUTH_TOKEN="CHANGE_ME"

