global
    log stdout format raw local0
    maxconn 4096

defaults
    log global
    mode tcp
    option tcplog
    timeout connect 5s
    timeout client 30s
    timeout server 30s

frontend rtsp_8554
    bind *:8554
    default_backend rtsp_backend_8554

backend rtsp_backend_8554
    server nvr 192.168.1.86:8554 check

frontend webrtc_8555
    bind *:8555
    default_backend webrtc_backend_8555

backend webrtc_backend_8555
    server nvr 192.168.1.86:8555 check

frontend webrtc_8555_udp
    bind *:8555 proto udp
    mode udp
    default_backend webrtc_backend_8555_udp

backend webrtc_backend_8555_udp
    mode udp
    server nvr 192.168.1.86:8555 check
